.introduce-title {
    display: flex;
    margin-top: 5pc;
}
.introduce-title-img {
    margin-left: 4pc;
    position: relative;
    animation-name: mymove;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 2s;
}
.introduce-title-img img {
    width: 585px;
    height: 421px;
}
.introduce-title-text {
    margin-left: 3pc;
    margin-right: 6pc;
    margin-top: 7pc;
    position: relative;
    animation-name: text-right;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 2s;
}
.introduce-title-text span {
    display: flex;
    text-align: left;
    color: #353535;
    font-family: "Roboto", sans-serif;
}
.introduce-title-text h1 {
    display: flex;
    font-size: 2pc;
}
/* // ---------------------------------- */
.introduce-center {
    display: flex;
    justify-content: space-between;
    margin: 0 6pc;
}
.introduce-center-bill {
    display: flex;
    margin-top: 5pc;
    position: relative;
    animation-name: bill;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 2s;
}
.introduce-bill-img img{
    width: 6pc;
}
.introduce-bill-text {
    margin-left: 1pc;
}
.introduce-bill-text h3 {
    color: #1c1c1c;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 1.25em;
    margin-right: 3pc;
    text-align: initial;
}
.introduce-bill-text span {
    text-align: left;
    display: flex;
    color: #777;
    font-family: inherit;
}

/* // ---------------------------------------------------------- */
.watch{
    margin-top: 4pc;
}
.watch-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: 1111px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 256px;
    width: 100%;
}
.watch-text-num {
    padding: 0 5pc;
}
.watch-text-num h1 {
    font-weight: 700;
    color: #fff;
}
.watch-text-num span{
    color: #fff;
    font-family: "Roboto", sans-serif;
}
.watch-img img {
    width: 100%;
    height: 16pc;
    object-fit: cover;
}
/* // --------------------------------------------------------------------- */
.user{
    display: flex;
    margin-top: 5pc;
    padding: 0 2pc;
}
.owner span{
    font-style: italic;
    color: #353535;
    font-weight: 500;
    padding: 0 1pc;
}
.owner h3{
    margin-top: 1pc;
}
.owner-img {
    justify-content: center;
    display: flex;
}
.owner-text h3{
    text-align: center;
}